<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Creator List</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            margin-top: 20px;
        }

        .btn-add {
            margin-bottom: 20px;
        }

        table th, table td {
            width: 33.33%;
            text-align: center;
        }
    </style>
</head>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <div class="card-body">
                <h2>Update Creator</h2>
                <form method="post" action="/updateCreator">
                    <div class="mb-3">
                        <label for="id" class="form-label">Id:</label>
                        <input readonly type="text" class="form-control" id="id" name="id" th:value="${creator.getId()}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${creator.getName()}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" th:value="${creator.getEmail()}">
                    </div>
                    <button type="submit" class="btn btn-dark">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
