<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Update Video</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .btn-add {
            margin-bottom: 20px;
        }

        table th, table td {
            width: 33.33%;
            text-align: center;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <div class="card-body">
                <h2>Update Video</h2>
                <form method="post" action="/updateVideo">
                    <div class="mb-3">
                        <label for="id" class="form-label">Id:</label>
                        <input readonly type="text" class="form-control" id="id" name="id" th:value="${video.getId()}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${video.getName()}">
                    </div>
                    <div class="mb-3">
                        <label for="url" class="form-label">Url:</label>
                        <input type="text" class="form-control" id="url" name="url" th:value="${video.getUrl()}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" class="form-control" id="description" name="description"
                               th:value="${video.getDescription()}">
                    </div>
                    <div class="mb-3">
                        <label for="datePublication" class="form-label">Date Publication:</label>
                        <input type="date" class="form-control" id="datePublication" name="datePublication"
                               th:value="${video.getDatePublication()}">
                    </div>
                    <button type="submit" class="btn btn-dark">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
