<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Videos List</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            margin-top: 20px;
        }

        .btn-add {
            margin-bottom: 20px;
        }

        table th, table td {
            width: 33.33%;
            text-align: center;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Videos List</h5>
            <form class="form-search" method="get" th:action="@{videosList}">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" th:value="${keyword}" placeholder="Search">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-add" th:onclick="|window.location.href='/addVideo'|">
                Add New Video
            </button>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="bg-primary">Video</th>
                        <th scope="col" class="bg-primary">Description</th>
                        <th scope="col" class="bg-primary">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="video : ${videos}">
                        <td th:text="${video.getName()}"></td>
                        <td th:text="${video.getDescription()}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-secondary"
                                   th:href="@{/detailsVideo(id=${video.getId()})}">Detail</a>
                                <a class="btn btn-outline-primary"
                                   th:href="@{/updateVideo(id=${video.getId()})}">Update</a>
                                <a class="btn btn-outline-danger"
                                   th:href="@{/deleteVideo(id=${video.getId()})}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item me-2" th:each="page, stat : ${pages}">
                    <a th:class="${stat.index eq currentPage ?'btn btn-primary':'btn btn-outline-primary' }"
                       th:text="${stat.index}"
                       th:href="@{videosList(page=${stat.index},search=${keyword})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
